@import "../../../styles/exports";

.pitch {
	position: absolute;

	.pitch-svg {
		@include position(absolute, 0 none none 0);
		width: 100%;
		height: 100%;
		@include user-select(none);

		&:not(:root) {
			overflow: visible;
		}
	}

	.pitch-area {
		rect,
		line,
		circle {
			fill: none;
			stroke: #fff;
			stroke-width: 2px;
		}

		rect,
		line {
			shape-rendering: crispEdges;
		}
	}

	.pitch-player {
		position: absolute;
		margin: -20px 0 0 -20px;
		line-height: 38px;

		&.active {
			z-index: 1;
		}

		&:before {
			content: '';
			border-radius: 50%;
			border: 1px solid #1D2429;
			display: block;
			@include position(absolute, 0);
			@include transform(scale(1));
			@include transition(transform .2s linear);
		}

		.number {
			width: 40px;
			height: 40px;
			color: $color_Black;
			font-weight: 300;
			font-size: 24px;
			text-align: center;
			display: block;
			@include user-select(none);
			cursor: default;
			position: relative;
		}

		.pitch-player-name {
			@include position(absolute, 100% none none 50%);
			@include transform(translateX(-50%));
			line-height: 18px;
			font-size: 14px;
			margin-top: 2px;
			text-shadow: 1px 1px 0 #1D2429, -1px -1px 0 #1D2429, 1px -1px 0 #1D2429, -1px 1px 0 #1D2429,
						 2px 2px 0 #1D2429, -2px -2px 0 #1D2429, 2px -2px 0 #1D2429, -2px 2px 0 #1D2429;
		}

		&.home_team {
			&:before {
				background: #fff;
			}

			.pitch-player-name {
				color: #fff;
			}
		}

		&.quest_team {
			&:before {
				background: $color_Green;
			}

			.pitch-player-name {
				color: $color_Green;
			}
		}

		.dragg {
			&:before {
				@include transform(scale(1.1));
			}
		}

		svg {
			width: 350px;
			height: 350px;
			margin: -175px 0 0 -175px;
			@include position(absolute, 50% none none 50%);
			pointer-events: none;

			path {
				pointer-events: auto;
			}
		}
	}

	.control-inner {
		.section {
			fill: #242F3A;
			stroke: #fff;
			stroke-width: 1px;
			cursor: pointer;

			&:hover {
				fill: tint(#242F3A, 10%);;
			}
		}

		.icon {
			fill: #fff;
			shape-rendering: geometricPrecision;
			pointer-events: none;
		}

		&.active {
			.section {
				fill: #fff;
			}

			.icon {
				fill: #242F3A;
			}
		}
	}

	.control-outer {
		.section {
			fill: #242F3A;
			stroke: #fff;
			stroke-width: 1px;
			cursor: pointer;

			&:hover {
				fill: tint(#242F3A, 10%);;
			}
		}

		text {
			fill: #fff;
			font-size: 31px;
			text-align: center;
			text-anchor: middle;
		}

		&.active {
			.section {
				fill: #fff;
			}

			text {
				fill: #242F3A;
			}
		}
	}

	.pitch-comment {
		@include position(fixed, none 0 0 50%);
		margin-left: 1px;
		height: 80px;
		z-index: 101;
		background: #fff;
		line-height: 0;
		text-align: left;
		@include transform(translateY(100%));
		@include transition(transform .2s);

		&.active {
			@include transform(translateY(0));
		}

		.textarea {
			line-height: 20px;
			height: 80px;
			border: none;
			display: block;
			padding: 10px;
			width: calc(100% - 62px);
			color: $color_Black;
		}

		button.btn {
			@include position(absolute, none 2px 2px none);
			width: 60px;
		}
	}
}