@import "../../../styles/exports";

.match-list-item {
	background: #fff;
	border-radius: 3px;
	margin-top: 20px;
	color: $color_Black;
	position: relative;

	.link {
		position: relative;
		display: block;
		color: $color_Black;
		padding: 25px 15px 25px 145px;
		margin-right: 217px;

		.logos {
			@include position(absolute, 15px none 0 25px);

			img {
				max-width: 60px;

				&:first-child {
					position: relative;
					z-index: 1;
				}

				& + img {
					margin-left: -20px;
				}
			}
		}

		.name {
			font-size: 30px;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			padding-bottom: 10px;
			white-space: nowrap;
		}

		.desc {
			font-weight: 300;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			white-space: nowrap;
		}

		&:hover {
			.name {
				color: $color_Green;
			}
		}
	}

	.controls {
		@include position(absolute, 0 0 0 none);

		.control {
			width: 109px;
			height: 108px;
			text-align: center;
			line-height: 108px;
			float: left;
			border-left: 1px solid #1D2429;
			display: block;
			cursor: pointer;

			svg {
				width: 32px;
				height: 32px;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}