@import "../../../styles/exports";

.player {
	padding: 10px 10px 10px 90px;
	border-top: 1px solid #d9d9d9;
	position: relative;
	cursor:pointer;
	cursor: grab;
	@include user-select(none);


	&.no-dragable {
		color: tint($color_Black, 50%);;
	}

	.player-info-left {
		@include position(absolute, 50% none 0 0);
		margin-top: -15px;
		white-space: nowrap;
	}

	.player-number {
		display: inline-block;
		width: 45px;
		text-align: right;
		vertical-align: middle;
		padding-right: 10px;
		font-size: 21px;
		font-weight: 300;
	}

	.player-image {
		width: 32px;
		display: inline-block;
		color: #d9d9d9;
		vertical-align: middle;
		line-height: 0;

		svg, img {
			width: 32px;
			max-height: 34px;
		}
	}

	.player-name {
		font-size: 15px;
		line-height: 21px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.player-role {
		font-weight: 300;
		font-size: 13px;
		line-height: 19px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:first-child {
		border-top: none;
	}
}

.player-note {
	padding: 10px;
	//border-top: 1px solid #d9d9d9;
	position: relative;

	&:first-child {
		border-top: none;
	}

	.player-name {
		font-size: 15px;
		line-height: 21px;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.note-textarea {
		width: 100%;
		height: 72px;
		line-height: 20px;
		border: 1px solid #d9d9d9;
		margin-top: 10px;
		padding: 5px;
		resize: none;
	}
}