@import "../../../styles/exports";

.reserve {
	@include position(absolute, 50% none none 20px);
	margin-top: -145px;
	width: 60px;
	height: 290px;
	padding: 10px;
	background: rgba(#fff, .1);
	z-index: 100;

	.reserve-player {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-top: 10px;
		color: $color_Black;
		font-size: 24px;
		font-weight: 300;
		text-align: center;
		line-height: 40px;
		cursor: default;
		@include user-select(none);

		&.quest_team {
			background: $color_Green;
		}

		&.home_team {
			background: #fff;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}