* { outline: none !important; }

body{
    color: $color_White;
	font-family: 'Signika Negative', sans-serif;
    font-size: $font_Size;
	line-height: $line_Height;
    -webkit-font-smoothing: antialiased;
}

/* Links */
a {
	text-decoration: none;
	color: $color_Black;

    &:hover{
        color: $color_Green;
    }
}


/*Заголовки*/
h1{
    font-size: 42px;
	line-height: 59px;
	font-weight: 300;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
h4, h5, h6 {
    font-size: $font_Size;
}


/*Списки*/
ul, ol{

    li {

    }

    nav & {
        margin: 0;
        padding: 0;
        list-style: none;

        li { padding-left: 0; }
    }
}


/*Таблицы*/
table{
	/*TODO: */

    caption{}
    td{}
    th{}
}



/*Элементы*/
p { margin: 0; }
p + p { /*TODO: */ }

blockquote{
    text-align: center;
    display: block;
    margin: 20px 0;
}

hr {
    display: block;
    height: 1px;
    border: none;
    margin: 0;
    padding: 0;
    background: #e6cba8;
}


/*Картинки*/
img {
    vertical-align: middle;
}


h1, h2, h3, h4, h5, h6, ul, ol, table, p, blockquote {
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
}

h1, h2, h3, h4, h5, h6 {
    & + p,
    & + ul { /*TODO: */ }
}

p {
    & + ul,
    & + ol { margin-top: 10px; }
}

svg:not(:root) {
	overflow: hidden;
}

svg {
	fill: currentColor;
}